@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
		<html lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
               <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" media="screen"
			href = "@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <!-- jQuery JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
	<div class="navBar">
	<table>
		<tr>
			<td>SwimLanes.com</td>
			<td><a herf="@routes.Application.index">Add Swimmer</a></td>
			<td><a herf="@routes.Application.viewSwimmers">View all swimmers</a></td>
			<td><a herf="@routes.Application.addEvents">Add an event</a></td>
			<td><a herf="@routes.Application.viewEvent">View all events</a></td>
			<td><a herf="@routes.Application.addTime">Add a time</a></td>
		</tr>
	</table>
	</div>
	<div class="container">
        @content
	</div>
    </body>
</html>
