

@(Event: Event,Times: List[Times], timesForm: Form[Times])

@import helper._

@main("View Times"){
	<h1>View Times for @Event.name</h1>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<td><b>date recorded</b></td>
				<td><b>Time</b></td>
				<td><b>Swimmer</b></td>
			</tr>
		</thead>
		<tbody>
			@for(times <- Times){
				<tr>
					<td>@times.date</td>
					<td>@times.time</td>
					<td>@times.swimmer.name<td>
				</tr>
			}
		</tbody>
	</table>
	
	@form(routes.Application.addTime(Event.id)){
		<fieldset>
		@select(
			timesForm("User.name"),
			options(User.findAllMap()),
			'_label -> "Swimmers", '_default -> "--Choose a swimmer --")
		@inputText(timesForm("time"), '_label -> "Swimmer's time")
		@inputText(timesForm("date"), '_label -> "date of completion")

		</fieldset>
		
		<input type = "submit" value="Add a time" class="btn primary">
	}
	
}

