
@(Event: List[Event])

@main("View Event"){
	<h1>View all Events</h1>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<td><b>Event name</b></td>
				<td><b>Event Distance</b></td>
				<td><b>view times</b></td>
			</tr>
		</thead>
		<tbody>
			@for(event <- Event){
				<tr>
					<td><a href="@routes.Application.editEvent(event.id)">@event.name</td>
					<td>@event.distance @event.units</td>
					<td><a href="@routes.Application.viewTimes(event.id)">View times</a></td>
				</tr>
			}
		</tbody>
	</table>
}
